/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* fin reset */
#game_area{float:left;display:inline;width:942px;height:640px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
.col_01{float:left;display:inline;width:294px;position:absolute;top:0;bottom:0;left:0}
.col_01 h1{font-family:'Satisfy',cursive;text-align:center;float:left;display:inline;width:84%;margin-top:90px;font-size:2.2em;color:#fff;padding:0 8%}
.col_01 .scoreboard{font-family:'Satisfy',cursive;text-align:center;float:left;display:inline;width:84%;margin-top:24px;font-size:1.3em;color:#fff;padding:0 8%;line-height:1.5em}
.solved{-webkit-box-shadow:inset 0px 0px 15px 0px rgba(0,0,0,0.58);-moz-box-shadow:inset 0px 0px 15px 0px rgba(0,0,0,0.58);box-shadow:inset 0px 0px 15px 0px rgba(0,0,0,0.58);float:left;display:inline;background-repeat:no-repeat;background-position:0 0;width:231px;height:226px;margin-left:31px;margin-top:70px;background-size:cover}
.col_02{float:right;display:inline;width:648px;position:absolute;right:0;top:0;bottom:0}
.col_02 ul#board{float:left;display:inline;width:100%;position:relative}
.col_02 ul#board li{float:left;display:inline}
.piece{cursor:move;position:relative;float:left;display:inline;background-repeat:no-repeat;background-position:0 0}
.ui-draggable-dragging{z-index:5}
#popup{float:left;display:none;width:100%;position:absolute;left:0;top:0;z-index:10;bottom:0}
#popup h2{font-family:'Satisfy',cursive;font-size:4em;float:left;display:inline;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);color:#fff}
#popup a{float:right;margin:18px 20px 0 0;text-decoration:none;font-family:'Skranji',cursive;font-size:2.3em;color:#fff}
#popup a:hover, #popup a:visited, #popup a:active{color:#fff}
#game_area .correct{cursor:default}

/* puzzles */
.puzzle1 .piece, .puzzle1 .solved{background-image:url('puzzle.jpg')}
.puzzle2 .piece, .puzzle2 .solved{background-image:url('puzzle2.jpg')}
.puzzle3 .piece, .puzzle3 .solved{background-image:url('puzzle3.jpg')}
.puzzle4 .piece, .puzzle4 .solved{background-image:url('puzzle4.jpg')}
.puzzle5 .piece, .puzzle5 .solved{background-image:url('puzzle5.jpg')}
.puzzle6 .piece, .puzzle6 .solved{background-image:url('puzzle6.jpg')}
.puzzle7 .piece, .puzzle7 .solved{background-image:url('puzzle7.jpg')}
.puzzle8 .piece, .puzzle8 .solved{background-image:url('puzzle8.jpg')}
.puzzle9 .piece, .puzzle9 .solved{background-image:url('puzzle9.jpg')}
.puzzle10 .piece, .puzzle10 .solved{background-image:url('puzzle10.jpg')}
/* END puzzles */